@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}
select,input,textarea {
    border: 1px solid #c2c2c2;
    outline-color: #c586A5;
    border-radius: 4px;
}
.active{
    background-color: #ffebf5;
    border: #f06509;
}


